
.prueba{
    width: 500px;
    height: 500px;
    border-radius: 16px;
    position: relative;
    left: 0px;
    transition: 0.5s;

}

.btn-bonito{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    color: blueviolet;
    transition: 0.5s;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
}

.btn-bonito:hover{
    color: rgb(rgb(0, 0, 0));
    background-color: blueviolet;
    transition: 0.5s;
}